@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --vert-clair: #16A34A;
    --vert-light: #DCFCE7;
    --jaune-pss: #FACC15;
    --blanc-grise: #FFFFFF;
    --gris-sombre: #374151;
    --brun-livre: #7C3F00;
    --beige-papier: #F5E9DA;
    --vert-bibliotheque: #355E3B;
    --gris-texte: #2D2D2D;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}